/* General Styles */
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Body Container */
.Body {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header and Logo */
.Top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 213px;
    background: rgba(255, 255, 255, 0);
    margin:20px 20px;
}

.LogoPixel {
    max-width: 100%;
    height: auto;
}

/* Navigation Bar */
.TopBar {
    background-color: #000000; 
    max-width: 1440px; 
    margin: 0 auto; 
    width: 100%; 
}

.TopBar .navbar-nav .nav-link {
    color: #ffffff;
    font-family: 'Retro Gaming', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.TopBar .navbar-nav .nav-link:hover {
    transform: scale(1.05); 
}

/* Content Section */
.Contenido {
    width: 100%;
    max-width: 1440px;
    text-align: center;
}

.PortadaFondo1440 {
    width: 100%;
    height: auto;
}

/* Products Section */
.ProductosHombres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    width: 100%;
    max-width: 1440px;
    padding-left: 170px;
}

.ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: 428px;
}

.ParaEllos1 {
    width: 100%;
    height: 100%;
}

.ContainerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: 428px;
}

.Title1 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    font-family: 'Retro Gaming', sans-serif;
}

/* Contenedor de cards */
.List {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 480px;
    height: 320px;
}

.Card {
    width: 200px;
    height: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.TextContent {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.Title {
    font-size: 20px;
    font-weight: 600;
}

.Subtitle {
    font-size: 18px;
    font-weight: 400;
}

.FormularioRegistro {
    /* border: 1px solid #33d900; */
    width: 100%;
    max-width: 1440px;
    display: grid;
    padding-left: 170px;
    padding-bottom: 100px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.ContainerLogin {
    /* border: 1px solid #0741ff; */
    width: 100%;
    max-width: 480px;
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerLogin .Title {
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family: 'Retro Gaming', sans-serif;
}

.form1 {
    /* border: 1px solid #ff9307; */
    width: 100%;
    max-width: 480px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Input {
    width: 100%;
    margin-bottom: 20px;
}

.Textfield {
    width: 100%;
    max-width: 480px;
    height: 50px;
    border: 1px solid #6c757d;
    color: #6c757d;
    padding: 5px;
    box-sizing: border-box;
}

.ButtonGroup {
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Button.Primary {
    width: 235px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
}

.Button.Secondary {
    width: 235px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
}

.Button.Secondary:hover{
    background-color:#0099ff;
}
.Button.Primary:hover{
    background-color:#0099ff;
}

/* Media Queries para hacer la sección responsiva */
@media (max-width: 768px) {
    .FormularioRegistro {
        grid-template-columns: 1fr;
        padding-left: 0;
        gap: 20px;
    }

    .ContainerLogin,
    .form1 {
        max-width: 100%;
    }

    .ButtonGroup {
        flex-direction: column;
        align-items: center;
    }

    .Button.Primary,
    .Button.Secondary {
        width: 100%;
        margin-bottom: 10px;
    }
}

/*Catalogo*/
.containershop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_shop {
    width: 330px;
    height: 390px;
   
    margin: 30px 10px;
    border-radius: 15px;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    
}

.card_shop h5 {
    font-weight: bold;
}

.card_shop img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    
}

.box_elementos{
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}

.ul li{
    list-style: none;
}

.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.quantity-btn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #ddd;
}

#quantity {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.add-to-cart-btn {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0px;
    cursor: pointer;
    font-weight:400;
}

.add-to-cart-btn:hover {
    background-color: #888888;
}

.titulo_shop {
    text-align: center;
    font-family: 'Retro Gaming', sans-serif;
    margin:20px 0px;
}

@media (max-width: 768px) {
    .card_shop {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card_shop {
        width: 100%;
    }
}
/*pagina carro de compras*/
.titulo_carro {
    text-align: center;
    font-family: 'Retro Gaming', sans-serif;
    margin: 20px 0;
}

.container-gen-carro {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width:100%;
    max-width:1200px;
    gap: 20px;
    padding: 20px;
}

.container-carro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card_carro {
    width: 100%;
    max-width: 330px;
    height: auto;
    margin: 20px 10px;
    border-radius: 15px;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.card_carro h5 {
    font-weight: bold;
}

.card_carro img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.box_elementos_carro {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.ul_carro li {
    list-style: none;
}

.quantity-container-carro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.quantity-selector-carro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.quantity-btn-carro {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-btn-carro:hover {
    background-color: #ddd;
}

#quantity-carro {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.add-to-cart-btn-carro {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    font-weight: 400;
}

.add-to-cart-btn-carro:hover {
    background-color: #cc0f0f;
}

.container-pago {
    width: 100%;
    max-width: 400px;
    height: 420px;
    margin: 20px 20px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

.container-pago h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_elementos_pago {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ul-pago h4:nth-child(1) {
    font-weight: bold;
}

.ul-pago h3:nth-child(3) {
    font-weight: bold;
}

.ul-pago h4 {
    color: #6c757d;
}

.botones-pago {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
}

.boton-primario, .boton-secundario {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 400;
}

.boton-primario:hover, .boton-secundario:hover {
    background-color: #0099ff;
}

@media (max-width: 1024px) {
    .container-gen-carro {
        grid-template-columns: 1fr;
    }

    .container-pago {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .card_carro {
        width: 45%;
    }

    .container-carro {
        justify-content: space-around;
    }
}

@media (max-width: 480px) {
    .card_carro {
        width: 100%;
    }

    .container-carro {
        justify-content: center;
    }
}

/*estilos de perfil*/
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2-perfil {
    text-align: center;
    margin: 20px 0px;
    font-family: 'Retro Gaming', sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-perfil {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
}

button:hover {
    background-color:#0099ff;
}
#delete-button:hover{
    background-color: #cc0f0f;
}

#profile-info {
    margin-top: 20px;
}

#profile-info h3 {
    text-align: center;
    margin-bottom: 10px;
}
/*pagina información*/
.info {
    width: 100%;
    max-width: 1000px;
    text-align: justify;
    background-color: #ececec;
    padding: 50px;
    margin: 50px 0px;
    border-radius: 15px;
    
}
.info p{
    line-height: 2.5;
    font-size: 18px;
    font-weight: 400;
}
.info h2{
    font-weight: bold;
    margin:20px;
    text-align: center;
}
.info h4 {
    font-weight: bold;
}



/* Footer Section */
.Footer {
    padding: 20px 0;
    color: #ffffff;
    background-color: #1d1d1d;
    text-align: center;
    
}

.Title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.Email, .Whatsapp, .Location, .Policy, .RefundPolicy, .Terms {
    font-size: 18px;
}

.Policy, .RefundPolicy, .Terms {
    color: #ffffff;
    text-decoration: none;
    
}


.legal-links {
    list-style-type: none;
    padding: 0;
}

/* Media Queries */
@media (max-width: 767px) {
    .FormularioRegistro, .Contenido, .ProductosHombres, .Footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ProductosHombres {
        grid-template-columns: 1fr;
    }
}
